<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <!--<link rel="stylesheet" href="/views/home.css">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/views/public/homepage/home.css">
   <!-- <script src="script.js"></script>-->
	
	
  </head>
  <body>
	<div class="navbar">
		<a class="active" href="/">Home</a>
		<!--<a href="/Mabus">David E Cruz</a>-->
		<div class="dropdown">
			<button class="dropbtn" href="/Mabus">David E Cruz</button>
			<div class ="dropdown-content">
				<a href="/Mabus/Profile">Profile</a>
				<a href="/Mabus/PsychologicalProfile">Psychological Profile</a>
				<a href="/Mabus/InvestigationProcess">Investigation Process</a>
				<a href="/Mabus/Analysis">Analysis</a>
			</div>
		</div>
		
		<!--<a href="/Profile">David E Cruz</a>-->
		<div class="dropdown">
			<button class="dropbtn" href="/PsychologicalProfile">Luis</button>
			<!--<a class="dropbtn" href="/PsychologicalProfile">Psychological Profile</a>-->
			<div class="dropdown-content">
				<a href="/Bezelbulb/Profile">Profile</a>
				<a href="/Bezelbulb/PsychologicalProfile">Psychological Profile</a>
				<a href="/Bezelbulb/Analysis">Analysis</a>
			</div>
		</div>
		
		<a href="/Analysis">For the next person</a>
		
	</div>

	<div class="content">
		<h1>
			Analysis:		
		</h1>

		<p>
			If I were to work alongside with a senior examiner, I would do the following.<br />
			Obtain
			a warrant to further gather possibly incriminating evidence on the suspect's computer.
			Any evidence that is not there is a possible attempt at destroying evidence. Furthermore,
			for further analysis, run a Deep Neural Network algorithim to determine possible attempts
			at encoding himself to avoid detection and run Bayesian Analysis to detect
			further social engineering attempts. Furthermore, to verify findings consult New Jersian
			government records, namely middlename since that information was obtained via unreliable
			means.
			
		</p>
	
		
	</div>

    <!-- page content -->
  </body>
</html>
