<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <!--<link rel="stylesheet" href="/views/home.css">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/views/public/Profile/profile.css">
   <!-- <script src="script.js"></script>-->
  </head>
  <body>
	<div class="navbar">
		<a class="active" href="/">Home</a>
		<!--<a href="/Mabus">David E Cruz</a>-->
		<div class="dropdown">
			<button class="dropbtn" href="/Mabus">David E Cruz</button>
			<div class ="dropdown-content">
				<a href="/Mabus/Profile">Profile</a>
				<a href="/Mabus/PsychologicalProfile">Psychological Profile</a>
				<a href="/Mabus/InvestigationProcess">Investigation Process</a>
				<a href="/Mabus/Analysis">Analysis</a>
			</div>
		</div>
		
		<!--<a href="/Profile">David E Cruz</a>-->
		<div class="dropdown">
			<button class="dropbtn" href="/PsychologicalProfile">Luis</button>
			<!--<a class="dropbtn" href="/PsychologicalProfile">Psychological Profile</a>-->
			<div class="dropdown-content">
				<a href="/Bezelbulb/Profile">Profile</a>
				<a href="/Bezelbulb/PsychologicalProfile">Psychological Profile</a>
				<a href="/Bezelbulb/Analysis">Analysis</a>
			</div>
		</div>
		
		<a href="/Analysis">For the next person</a>
		
	</div>

	<div class="content">

		<div class="Name" >
			<h1>
			Name: 		
			</h1>
			<p>
			David E "Ezequil" Cruz
			</p>
		</div>

		<div class="DOB">
			<h2>Date of Birth:</h2>
			<p>August 20 to 27, 1999</p>
		</div>
		
		<div class="Country">
			<h2>Country:</h2>
			<p>USA</p>
		</div>

		<div class="State">
			<h2>
				State:
			</h2>
	
			<p>
				New Jersey
			</p>
		</div>
		
		<div class="Highschool">
			<h2>Highschool:</h2>
			<p>Bloomfield Highschool, Essex County</p>
		</div>
		<div class="College">
			<h2>
			Possible College:
			</h2>
			<p> Berkely College, Woodland Park Campus</p>
			
			<h2>Major:</h2>
			<p>Graphic Design</p>
		</div>

		<div class="Social">
			<h2>Email:</h2>
			<p>davidfunguy@hotmail.com</p>
		
			<h2>Facebook:</h2>
			<p>davidfunguy</p>
			
			<h2>Twitter:</h2>
			<p>@UnHolyAngellord</p>


			<h2>Chatango:</h2>
			<p>Unholyangellord</p>


			<h2>League of Legends:</h2>
			<p>XsPaReS</p>


			<h2>Wattpad: </h2>
			<p>XsPaRes</p>


			<h2>Skype: </h2>
			<p>xspares</p>

			<h2>Game Jolt:</h2>
			<p>XsPaRes</p>
		</div>
	
		<div class="ISP">
			<h2>Possible ISP: </h2>
			<p>Comcast</p>
		</div>

		<div class="Cases">
			<h2>Cases:</h2>
			<h3>"Thales Network Share"</h3>
			<p>
				Suspected of breaching a network fileshare in Thales Network, 
				possible attack vector goes as follows, <br />
				Deployed victim Himiko Werckmeister's university
				credentials to determine where she worked 
				along with Thales database username. <br />
				Then went to hire a hacker to breach
				the network, only piece of evidence is via
				the metadata of a document. The 30 pages in
				the page count corresponds to the 30 pieces
				of silver that Judas Escariot. Suspect David knew
				of the victim's love for Dies Irae and Masadaverse, and thus the Judas mentioned
				alludes to Judas Strife of Paradise Lost. Whereas the 19
				in the Microsoft page count corresponds to the
				first two digits of victim's birthyear. Document when opened
				in Libreoffice shows only two pages worth of document but
				previewing it in the the victim's email client yields page count of 13.
				The 13 denotes the amount of seats in the Round Table of Longinus Orden
				in Dies Irae. See below for screencaps: 	
			</p>
			<img src ="/views/public/images/RTpgcount.png"class="metadata">
			<a href="https://prnt.sc/iyt4r1">Trucation of Birthdate</a>
			<a href="http://prntscr.com/iyt5x3">Judas Strife</a>
			
						
			<h3>"Gang Killing"</h3>
			<p>
				Confessed over Skype of forcing
				a entire ceiling fall over a bunch of 
				<a href="https://pastebin.com/SxsSR79U">gang members</a> 
			</p>
					
			<h3>"Loss of Information"</h3>
			<p>
				Coerced Himiko Werckmeister
				out of the following personal
				information:
					<ul>
						<li>University Account credentials</li>
						<li>Physical Address</li>
					</ul>
				As a side note:<br />
				Suspect uses combat rp to understand his victims,
				and admits that his characters are extensions of himself. Thus to understand David, one needs to understand his Original Characters.
				Thus his way of manipulating his opponents out of sensative information is to ensure they do not feel such tactics initially.
				With this key insight in mind, the reason why the victim did not notice that she was being hit with a social
				engineering attack is that a. the victim could not sense his tactics, b. David is premeditative.
				When discussing about his OCs, he uses I and Akuma interchangebly to indicate self-insert.</br>


				Implication: Victim now fears her life due to death threat made
				by his girlfriend. If the girlfriend wants somebody dead, then the suspect
				also wants her dead. See below references:
			</p>
			<img src="/views/public/images/LOII.png" class="LOII" height="600" width="500">
								
			
		</div>
		
	</div>

    <!-- page content -->
  </body>
</html>
